{% extends "base.html" %}

{% block content %}

{% load static %}
    <div class="container recipe">
        {% if recipe.image_file %}
            <img src="{{ recipe.image_file.url }}" style="margin-bottom: 20px;">
        {% else %}
            <img src="{% static 'media/images/default.jpeg' %}" style="margin-bottom: 20px;">
        {% endif %}
        <h4>{{ recipe.name }}</h4>
        <h6>Recipe asked by: {{ recipe.user }}</h6>
        <hr/>
        <p>{{ recipe.instructions|linebreaksbr|safe }}</p>
        <hr/>
        <br/>
        <h5>We also have these recipes by {{ recipe.user }}:</h5>
        {% for r in recipe.user.recipe_set.all %}
        <li><a href="{% url 'recipe' r.id %}">{{ r.name }}</a></li> 
        {% endfor %}
    </div>
{% endblock %}
